<h1 class="text-center mt-4">Alpha Bloggers</h1>

<div class="flickr_pagination text-center mt-4">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'article' %>

<div class="flickr_pagination text-center mb-4">
  <%= will_paginate @articles, :container => false %>
</div>
