<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center" id="jbt-edit">
      <h1 class="display-3">WELCOME TO ALPHA BLOG</h1>
      <p class="lead">Welcome to ALPHA BLOG by Barnabtz.</p>
      <hr class="my-2">
      <p>Well Hello Everyone! This I present to you guys my first Ruby Blog... Yewaheeee!!!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">SIGN UP!</a>
      </p>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
