<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center" id="jbt-edit">
      <h1 class="display-3">WELCOME TO ALPHA BLOG</h1>
      <p class="lead">Welcome to ALPHA BLOG by Barnabtz.</p>
      <hr class="my-2">
      <p>More info</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">SIGN UP!</a>
      </p>
    </div>
  </div>
</div>





<!--<h1>Home</h1>-->
<!--<h2>This is your home page</h2>-->

<!--<%#= link_to 'About Page', about_path %> |-->

<%#= link_to 'Articles Page', articles_path %>
