@import "bootstrap";

//Editing the navbar for Alpha Blog

.navbar {
  background-color: black!important;
  font-family: "Advent Pro Medium", sans-serif;
}

.nav-link {
  color: white!important;
}

.btn {
  border-radius: 25px;
  color: white;
  border-color: dodgerblue;
}

.ed-bt {
  border-radius: 25px;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Archivo Black", sans-serif;
  color: white!important;
  font-weight: bolder;
  letter-spacing: -1pw;
}

#home-container {
  margin-top: 35px;
}

#jbt-edit {
  font-family: "Muli Black", sans-serif;
  .btn {
    border-radius: 10px;
    background-color: green;
    border: green;
  }
  .display-3{
    font-family: "Archivo Black", sans-serif;
    font-size: 50px;
  }
  .lead {
    color: white;
    //font-family: "Advent Pro", sans-serif;
    font-weight: bold;
  }
  h1 {
    color: white;
    font-family: "Archivo Black", sans-serif;
  }
  p {
    color: white;
    font-size: 15px;
  }
}

.jumbotron {
  background-image: asset_url('img-jumbotron.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html, body {
  height: 100%;
  background-color: lightgrey;
  font-family: "Muli Light", sans-serif;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.card-body {
  .btn {
    color: black;
  }
}

/* Pagination styling */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}

.flickr_pagination a {
  border: 1px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none;
}

.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: grey;
  background: whitesmoke;
  color: grey;
}

.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px;
}

.flickr_pagination .previous_page {
  margin-right: 1em;
}

.flickr_pagination .next_page {
  margin-left: 1em;
}